# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
50-30-20-frontend/node_modules/
/.pnp
.pnp.js

# testing
50-30-20-frontend/coverage/*

# production
50-30-20-frontend/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

50-30-20-backend/venv/

.flaskenv

venv/

50-30-20-backend/.flaskenv
